<section class="wrapper-md-bg">
    <a href="/users/sign_out" data-method="delete">Sign out</a>
    <div class="container">
        <img src="http://www.clker.com/cliparts/1/b/b/d/1248179380933577373whisky_glass.svg.med.png" id="logo">
        <div id="logo-name">↫Brbn↬</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget padding-lg bg-dark">
                        <div class="col-lg-6">
                            <div id="content">
                                <form id="search-form" class="form-horizontal">
                                    <div class="input-group">
                                        <input id="search" type="search" class="form-control">
                                        <span class="input-group-btn">
                                        <input class="btn btn-default" type="submit" value="Search"/>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>    
                        </div><!-- /.col-lg-6 -->
                        <div id="bourbons">
                            <li><a href="#bourbons/{{ id }}">Name: {{name}}</a></li>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
</section>                      