<section class="wrapper-md-bg">
    <a href="/users/sign_out" data-method="delete">Sign out</a>
    <div class="container">
        <img src="http://www.clker.com/cliparts/1/b/b/d/1248179380933577373whisky_glass.svg.med.png" id="logo">
        <div id="logo-name">↫Brbn↬</div>
            <h5><span class="under-logo">The Bourbon Recommender</span></h5>
            <div class="row">
                <div id="content">
                    <form id="search-form" class="form-horizontal">
                        <div class="input-group">
                            <input id="search" type="search" class="form-control" autofocus="true" type="submit">
                            <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Search"/>
                            </span>
                        <div id="user-selection"></div>
                        </div><!-- /input-group -->
                    </form>
                </div>    
            <div id="bourbons"></div>  
            </div>  
        </div>  
    </div>
</section>                      