<div id="bourbon">
  <div> 
    <img src="{{ image }}">
    <p><strong>{{ name }}</strong></p>
    <p><strong>Alcohol: </strong> {{ alcohol }}%</p>
    <p><strong>Description: </strong> {{ description }}</p>
  </div>  
  <div id="star">Avg Rating: </div>
  <div id="chart"></div>
    <button class="btn btn-success">Rate It</button>
    <button class="btn btn-info"><a href='#'>Back</a></button> 
  <div id="user-rating" data-score="0"></div>   
</div>