<div id="bourbon">
  <div> 
    <img src="{{ image }}">
    <p><strong>{{ name }}</p>
    <p><strong>Alcohol: </strong> {{ alcohol }}%</p>
    <p><strong>Description: </strong> {{ description }}</p>
  </div>  
  <div id="star">ratings</div>
  <div id="chart"></div>
    <button class="btn btn-success">Rate It</button>
    <button class="btn btn-info"><a href='#'>Back</a></button>  
</div>