<div id="rating">
  <div> 
    <img src="{{ image }}">
    <p><strong>{{ name }}</p>
    <p><strong>Alcohol: </strong> {{ alcohol }}%</p>
    <p><strong>Description: </strong> {{ description }}</p>
    <p>ratings</p>
  </div>  
    your rating (Stars)
    <button class="btn btn-info"><a href='#'>Back</a></button>  
</div>