/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body a { color: #16a085;
        text-align: center;
     }
body a:hover,
/*body a:focus { color: #e8af84 }*/
.countdown {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
.date-digit,
.date-text {
    display: block;
    margin: 0 10px;
}
.date-digit {
    font-size: 4em;
    font-weight: bold;
}
.wrapper-xs { padding: 1em 0 }
.wrapper-sm { padding: 2em 0 }
.wrapper-md { padding: 5em 0 }
.wrapper-lg { padding: 8em 0 }
.bg-highlight {
    background: #e8e8e8;
    color: #454c54;
}
.bg-highlight h1,
.bg-highlight .h1,
.bg-highlight h2,
.bg-highlight .h2,
.bg-highlight h3,
.bg-highlight .h3,
.bg-highlight h4,
.bg-highlight .h4,
.bg-highlight h5,
.bg-highlight .h5,
.bg-highlight h6,
.bg-highlight .h6 { color: #2f353e }
.bg-highlight h1.headline:after,
.bg-highlight .h1.headline:after,
.bg-highlight h2.headline:after,
.bg-highlight .h2.headline:after,
.bg-highlight h3.headline:after,
.bg-highlight .h3.headline:after,
.bg-highlight h4.headline:after,
.bg-highlight .h4.headline:after,
.bg-highlight h5.headline:after,
.bg-highlight .h5.headline:after,
.bg-highlight h6.headline:after,
.bg-highlight .h6.headline:after { background: #2f353e }
.bg-highlight hr {
    border-top-color: #dbdbdb;
    -webkit-box-shadow: 0 1px 2px #f5f5f5;
    -moz-box-shadow: 0 1px 2px #f5f5f5;
    box-shadow: 0 1px 2px #f5f5f5;
}
.bg-primary {
    background: #16a085;
    color: #fff;
}
.bg-primary h1,
.bg-primary .h1,
.bg-primary h2,
.bg-primary .h2,
.bg-primary h3,
.bg-primary .h3,
.bg-primary h4,
.bg-primary .h4,
.bg-primary h5,
.bg-primary .h5,
.bg-primary h6,
.bg-primary .h6 { color: #fff }
.bg-primary h1.headline:after,
.bg-primary .h1.headline:after,
.bg-primary h2.headline:after,
.bg-primary .h2.headline:after,
.bg-primary h3.headline:after,
.bg-primary .h3.headline:after,
.bg-primary h4.headline:after,
.bg-primary .h4.headline:after,
.bg-primary h5.headline:after,
.bg-primary .h5.headline:after,
.bg-primary h6.headline:after,
.bg-primary .h6.headline:after { background: #fff }
.bg-primary hr {
    border-top-color: #138a72;
    -webkit-box-shadow: 0 1px 2px #19b698;
    -moz-box-shadow: 0 1px 2px #19b698;
    box-shadow: 0 1px 2px #19b698;
}
.bg-secondary {
    background: rgba(78, 51, 21, 0.2);
    color: #fff;
    font-family: Enriqueta;
    height: 60px;
    padding-top: 1px;
    margin-bottom: 25px;
}
.bg-secondary h1,
.bg-secondary .h1,
.bg-secondary h2,
.bg-secondary .h2,
.bg-secondary h3,
.bg-secondary .h3,
.bg-secondary h4,
.bg-secondary .h4,
.bg-secondary h5,
.bg-secondary .h5,
.bg-secondary h6,
.bg-secondary .h6 { color: #fff }
.bg-secondary h1.headline:after,
.bg-secondary .h1.headline:after,
.bg-secondary h2.headline:after,
.bg-secondary .h2.headline:after,
.bg-secondary h3.headline:after,
.bg-secondary .h3.headline:after,
.bg-secondary h4.headline:after,
.bg-secondary .h4.headline:after,
.bg-secondary h5.headline:after,
.bg-secondary .h5.headline:after,
.bg-secondary h6.headline:after,
.bg-secondary .h6.headline:after { background: #fff }
.bg-secondary hr {
    border-top-color: #262626;
    -webkit-box-shadow: 0 1px 2px #404040;
    -moz-box-shadow: 0 1px 2px #404040;
    box-shadow: 0 1px 2px #404040;
}
.bg-info {
    background: #37a0c2;
    color: #fff;
}
.bg-info h1,
.bg-info .h1,
.bg-info h2,
.bg-info .h2,
.bg-info h3,
.bg-info .h3,
.bg-info h4,
.bg-info .h4,
.bg-info h5,
.bg-info .h5,
.bg-info h6,
.bg-info .h6 { color: #fff }
.bg-info h1.headline:after,
.bg-info .h1.headline:after,
.bg-info h2.headline:after,
.bg-info .h2.headline:after,
.bg-info h3.headline:after,
.bg-info .h3.headline:after,
.bg-info h4.headline:after,
.bg-info .h4.headline:after,
.bg-info h5.headline:after,
.bg-info .h5.headline:after,
.bg-info h6.headline:after,
.bg-info .h6.headline:after { background: #fff }
.bg-info hr {
    border-top-color: #3190ae;
    -webkit-box-shadow: 0 1px 2px #48abcb;
    -moz-box-shadow: 0 1px 2px #48abcb;
    box-shadow: 0 1px 2px #48abcb;
}
.bg-warning {
    background: #ffbc46;
    color: #fff;
}
.bg-warning h1,
.bg-warning .h1,
.bg-warning h2,
.bg-warning .h2,
.bg-warning h3,
.bg-warning .h3,
.bg-warning h4,
.bg-warning .h4,
.bg-warning h5,
.bg-warning .h5,
.bg-warning h6,
.bg-warning .h6 { color: #fff }
.bg-warning h1.headline:after,
.bg-warning .h1.headline:after,
.bg-warning h2.headline:after,
.bg-warning .h2.headline:after,
.bg-warning h3.headline:after,
.bg-warning .h3.headline:after,
.bg-warning h4.headline:after,
.bg-warning .h4.headline:after,
.bg-warning h5.headline:after,
.bg-warning .h5.headline:after,
.bg-warning h6.headline:after,
.bg-warning .h6.headline:after { background: #fff }
.bg-warning hr {
    border-top-color: #ffb32c;
    -webkit-box-shadow: 0 1px 2px #ffc560;
    -moz-box-shadow: 0 1px 2px #ffc560;
    box-shadow: 0 1px 2px #ffc560;
}
.bg-success {
    background: #9bc23c;
    color: #fff;
}
.bg-success h1,
.bg-success .h1,
.bg-success h2,
.bg-success .h2,
.bg-success h3,
.bg-success .h3,
.bg-success h4,
.bg-success .h4,
.bg-success h5,
.bg-success .h5,
.bg-success h6,
.bg-success .h6 { color: #fff }
.bg-success h1.headline:after,
.bg-success .h1.headline:after,
.bg-success h2.headline:after,
.bg-success .h2.headline:after,
.bg-success h3.headline:after,
.bg-success .h3.headline:after,
.bg-success h4.headline:after,
.bg-success .h4.headline:after,
.bg-success h5.headline:after,
.bg-success .h5.headline:after,
.bg-success h6.headline:after,
.bg-success .h6.headline:after { background: #fff }
.bg-success hr {
    border-top-color: #8baf36;
    -webkit-box-shadow: 0 1px 2px #a5c94f;
    -moz-box-shadow: 0 1px 2px #a5c94f;
    box-shadow: 0 1px 2px #a5c94f;
}
.bg-danger {
    background: #c0392b;
    color: #fff;
}
.bg-danger h1,
.bg-danger .h1,
.bg-danger h2,
.bg-danger .h2,
.bg-danger h3,
.bg-danger .h3,
.bg-danger h4,
.bg-danger .h4,
.bg-danger h5,
.bg-danger .h5,
.bg-danger h6,
.bg-danger .h6 { color: #fff }
.bg-danger h1.headline:after,
.bg-danger .h1.headline:after,
.bg-danger h2.headline:after,
.bg-danger .h2.headline:after,
.bg-danger h3.headline:after,
.bg-danger .h3.headline:after,
.bg-danger h4.headline:after,
.bg-danger .h4.headline:after,
.bg-danger h5.headline:after,
.bg-danger .h5.headline:after,
.bg-danger h6.headline:after,
.bg-danger .h6.headline:after { background: #fff }
.bg-danger hr {
    border-top-color: #ab3326;
    -webkit-box-shadow: 0 1px 2px #d14233;
    -moz-box-shadow: 0 1px 2px #d14233;
    box-shadow: 0 1px 2px #d14233;
}
.bg-light {
    background: #fff;
    color: #454c54;
}
.bg-light h1,
.bg-light .h1,
.bg-light h2,
.bg-light .h2,
.bg-light h3,
.bg-light .h3,
.bg-light h4,
.bg-light .h4,
.bg-light h5,
.bg-light .h5,
.bg-light h6,
.bg-light .h6 { color: inherit }
.bg-light h1.headline:after,
.bg-light .h1.headline:after,
.bg-light h2.headline:after,
.bg-light .h2.headline:after,
.bg-light h3.headline:after,
.bg-light .h3.headline:after,
.bg-light h4.headline:after,
.bg-light .h4.headline:after,
.bg-light h5.headline:after,
.bg-light .h5.headline:after,
.bg-light h6.headline:after,
.bg-light .h6.headline:after { background: inherit }
.bg-light hr {
    border-top-color: #f2f2f2;
    -webkit-box-shadow: 0 1px 2px #fff;
    -moz-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
}
.bg-dark {
    background: rgba(78, 51, 21, 0.2);
    color: #fff;
    min-height: 515px;
}
.bg-dark h1,
.bg-dark .h1,
.bg-dark h2,
.bg-dark .h2,
.bg-dark h3,
.bg-dark .h3,
.bg-dark h4,
.bg-dark .h4,
.bg-dark h5,
.bg-dark .h5,
.bg-dark h6,
.bg-dark .h6 { color: #fff }
.bg-dark h1.headline:after,
.bg-dark .h1.headline:after,
.bg-dark h2.headline:after,
.bg-dark .h2.headline:after,
.bg-dark h3.headline:after,
.bg-dark .h3.headline:after,
.bg-dark h4.headline:after,
.bg-dark .h4.headline:after,
.bg-dark h5.headline:after,
.bg-dark .h5.headline:after,
.bg-dark h6.headline:after,
.bg-dark .h6.headline:after { background: #fff }
.bg-dark hr {
    border-top-color: rgba(38,38,38,0.9);
    -webkit-box-shadow: 0 1px 2px rgba(64,64,64,0.9);
    -moz-box-shadow: 0 1px 2px rgba(64,64,64,0.9);
    box-shadow: 0 1px 2px rgba(64,64,64,0.9);
}
.bg-custom-home {
    /*background: url("http://styleblog.saba.com.au/wp-content/uploads/2013/05/EDV_SABA.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.img-rounded { border-radius: 0 }
.img-thumbnail {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
    border-radius: 0;
}
.img-circle { border-radius: 50% }
.img-rounded,
.img-thumbnail,
.img-circle { margin-bottom: 1em }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    color: #2f353e;
    font-family: Enriqueta,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small { color: #454c54 }
h1.heading-lg,
h2.heading-lg,
h3.heading-lg,
h4.heading-lg,
h5.heading-lg,
h6.heading-lg,
.h1.heading-lg,
.h2.heading-lg,
.h3.heading-lg,
.h4.heading-lg,
.h5.heading-lg,
.h6.heading-lg { font-size: 66px }
.heading-default,
.heading-default h1,
.heading-default h2,
.heading-default h3,
.heading-default h4,
.heading-default h5,
.heading-default h6,
.heading-default .h1,
.heading-default .h2,
.heading-default .h3,
.heading-default .h4,
.heading-default .h5,
.heading-default .h6 { color: #2f353e!important }

.bg-highlight hr {
    border-top-color: #dbdbdb;
    -webkit-box-shadow: 0 1px 2px #f5f5f5;
    -moz-box-shadow: 0 1px 2px #f5f5f5;
    box-shadow: 0 1px 2px #f5f5f5;
}

#unauthenticated-view-container {
    max-width: 680px;
    margin: 15px auto;
    padding: 20px;
    background: white;
    border: 1px solid #e4e4e4;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    border-radius: 5px;
      -webkit-box-shadow:0 0 5px #e4e4e4;
      -moz-box-shadow:0 0 5px #e4e4e4;
    box-shadow:0 0 5px #e4e4e4;
}

#description {
  display: inline-block;
}

input#email,
#password,
#password_confirmation,
#search {
  /*  width: 310px; */
}

input.btn-primary {
    margin-top: 20px;
}

#bourbons {
    display: block;
    max-width: 600px;
    margin: auto;
    padding: 35px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
     -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#bourbons li {
    margin: 25px;
}

#logo {
    max-width: 75px;
    height: 75px;
    margin: 40px auto;
    display: block;
}

#logo-name {
    font-family: Enriqueta, Helvetica;
    font-size: 75px;
    height: 50px;
    text-align: center;
    margin: 15px auto;
    display: block;
}

h5 .under-logo {
    display: block;
    text-align: center;
}

li {
    font-family: Enriqueta, Helvetica;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
     transition:.3s;
}

li:hover {
    color: #f08738;
}

/****** Search bar ****/

#content {
  display: block;
  max-width: 600px;
  margin: auto;
  padding: 35px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/***** Chart style *****/

#chart {
max-width: 700px;
height: auto;
margin: 0 auto;
}

svg {
  margin: 40 auto;
  display: block;
} 

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000000;
    stroke-width: 2px;
}

.axis .ticks line {
    stroke: #4F4F4F;
    stroke-width: 2px;
}

.axis .ticks line.minor{
    stroke: #CCCCCC;
    stroke-width:1px;
}

#percentage-container {
  width: 40%;
  height: 40%;
  min-height: 100px;
  margin: 0 auto;
}

#similar-name {
    font-family: Enriqueta;
    font-size: 20px;
    margin: 10px;
    display: block;
    text-align: center;
}

h4 .match {
    display: block;
    text-align: center;
}

#user-rating {
    display: block;
    margin: auto;
    text-align: center;
}

#bourbon-link a {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    color: #454c54;
}

#bourbon-link a:hover {
    color: #f08738;
}

#logincontrols, 
#home-link {
    margin: 20px;
}

/*
.similar-bourbons li:hover {
    color: white;
     background: rgba(78, 51, 21, 0.1);
}*/

.bourbonlist {
    font-size: 22px;
    font-family: Enriqueta;
}

#thumb-container {
    height: 75px;
    width: 75px;
}

li img {
    width: 100%;
    height: auto;
    overflow: hidden;
    /*clip:rect(20px,0px,200px,0px);*/
}

