/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#unauthenticated-view-container {
    max-width: 480px;
    margin: 15px auto;
    padding: 20px;
    background: white;
    border: 1px solid #e4e4e4;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    border-radius: 5px;
      -webkit-box-shadow:0 0 5px #e4e4e4;
      -moz-box-shadow:0 0 5px #e4e4e4;
    box-shadow:0 0 5px #e4e4e4;
}

input#email,
#password,
#password_confirmation,
#search {
    width: 310px;
}

input.btn-primary {
    margin-top: 20px;
}

/* Chart style */

#chart {
  height: 600px;
}

svg {
  width: 200;
} 

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000000;
    stroke-width: 2px;
}

.axis .ticks line {
    stroke: #4F4F4F;
    stroke-width: 2px;
}

.axis .ticks line.minor{
    stroke: #CCCCCC;
    stroke-width:1px;
}