<!DOCTYPE html>
<html>
<head>
  <title>Brbn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.modelbinder/1.0.5/Backbone.ModelBinder.min.js"></script>
</head>
<body>

<div class="container">
    <div id="main"></div>
    <div class="content">
        <%= yield %>
    </div>
</div>
</body>
</html>
